.blogHeader {
  h1 {
    margin-bottom: 15px;
  }
  hr {
    margin-bottom: 10px;
  }
}

.creationDate {
  font-size: 12px;
}
.imageContainer {
  margin: 0;
  img {
    border-radius: 5px;
  }
}
.paragraph {
  margin-top: 20px;
}
